# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environments
env/
venv/
.venv/
.env

# Database
*.db
instance/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Documentation
# screenshots/ (Manter screenshots no repo para o README)